/* =============
    Base
============= */

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

a:link,
a:visited {
    text-decoration: none;
    transition: 0.25s;
}

.content-grid{
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-areas: ". content .";

    >div{
            grid-area: content;
        }

  }
